.imag{
    width: 1013px;
    height: 300px;
   
    
    
}

.te{
    width: 250px;
display: flex;
flex-direction: column;

}

.tecontainer{
    
    display: flex;
    padding-left: 110px;
    padding-bottom: 30px;
    flex-direction: column;
    
    
}

.te h1{
    font-size: medium;
    margin-top: 10px;
    padding-left: 450px;
}

.te p1{
    margin-top: -3px; 
}
.te p2{
    font-size: medium;
}