* {
    margin: 0;
    padding: 0;
   
}



.Search{
    position:fixed;
   
  z-index: 3;
}

.Search input{
    position: absolute;
    width: 400px;
    height: 51px;
    font-size: 15px;
    padding-top: -10%;
    
}

.campana{
    top: 10px;
    right: 100px;
    position: fixed;
    width: 30px;
    height: 30px;
}

.camara{
    top: 10px;
    right: 150px;
    position: fixed;
    width: 30px;
    height: 30px;
}

.alfonso{
    top: 10px;
    right: 50px;
    position: fixed;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.logo{
    padding-top: -30px;
height: 55px;
width: 105px;
}