.imag{
    width: 230px;
    height: 130px;
    border-radius: 10px;
}

.mv{
    width: 300px;
display: flex;
flex-direction: column;

}

.mvcontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}

.mv h1{
    font-size: small;
    margin-top: -20px;
}

.mv p{
    margin-top: -3px; 
}