.imag{
    width: 500px;
    height: 300px;
   
    
    
}

.novone{
    width: 200px;
display: flex;
flex-direction: column;

}

.novonecontainer{
    width: 1030px;
    display: flex;
    margin-left: -50px;
    flex-direction: row;
    justify-content: space-around;
    
}

.novone h1{
    font-size: small;
    margin-top: 10px;
}

.novone p1{
    margin-top: -3px; 
}
.novone p2{
    font-size: medium;
}